body {
  box-sizing: border-box;
}

#home {
  padding: 40px 53px 40px 53px;
  background-color: #21172E;
}

#home a.nav-link {
  color: #CECAD1;
}

#whyswitch {
  padding: 40px 53px 40px 53px;
  background-color: #fff;
}

#whyswitch a.nav-link {
  color: #21172E;
}

a.nav-link {
  font-weight: normal;
}

a.nav-link:hover {
  font-weight: bold;
}

div.bookframe {
  border: 1px solid #9095c8;
  overflow: scroll;
}

div.carousel-item {
  background-color: #fff;
  padding: 10% 15% 10% 15%;
}

div.carousel-item:first-of-type {
  background-color: #21172E;
  color: #CECAD1;
}

div.footer {
  background-color: #21172E;
  color: #CECAD1;
  padding-left: 53px;
  padding-right: 53px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
}

div.footer.lightfoot {
  background-color: #fff;
}
/* grid gutter: 32.5px */