<div class="nav blue primary" id="home_nav">
      <h1 class=""><a href="/" title="Hederis home page"></a></h1>
      <nav class="navbar">
        <div class="mobile_nav_btn"><span id="stripe_1"></span><span id="stripe_2"></span><span id="stripe_3"></span></div>
        <div class="mobile_nav_hider" id="navbarTogglerDemo02">
          <ul class="navbar-nav nav flex-column">
            <li class="nav-item heddropdown">
              <a class="nav-link" href="/app/">Book Production App</a>
              <ul>
                <li><a class="nav-link pl-0 dropdown" href="/app/products/">About</a></li>
                <li><a class="nav-link pl-0" href="/app/pricing/">Pricing</a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link pl-0" href="/solutions/">Custom Solutions</a></li>
            <li class="nav-item"><a class="nav-link pl-0" href="/about/">Team &amp; Company</a></li>
          </ul>
        </div>
      </nav>
      <div class="app-gateway mt-4">
        <p class="mb-0"><a class="button" id="signup-top" href="http://app.hederis.com">Sign up</a></p>
        <p class="mt-2"><a class="" id="signin-top" href="http://app.hederis.com">or sign in</a></p>
      </div>
      <!-- Begin Mailchimp Signup Form -->
      <div id="mc_embed_signup" class="dark my-4 py-2 px-0">
      <form action="https://hederis.us17.list-manage.com/subscribe/post?u=c5bc6d6d58d3a6ca885eea897&amp;id=5ba347e4f2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL">Get updates about new features and publishing news.</label>
        <input type="email" value="" name="EMAIL" class="email mb-2" id="mce-EMAIL" placeholder="email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c5bc6d6d58d3a6ca885eea897_5ba347e4f2" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
      </form>
      </div>
      <!--End mc_embed_signup-->
    </div>