<div class="row panel-dark" id="footer-full">
    <div class="col-md-6">
        <ul class="ml-0 pl-0 footer-info">
          <li class="">&copy; 2020 Hederis</li>
          <li class=""><a href="mailto:info@hederis.com">Contact Us</a></li>
        </ul>
        <p> </p>
        <p><a href="/terms.html">Terms of Service</a></p>
        <p><a href="/privacy.html">Privacy Policy</a></p>
        <a href="#" onclick="window.displayPreferenceModal();return false;" id="termly-consent-preferences">Consent Preferences</a>
    </div>

    <div class="col-md-6">
        <ul class="mr-0 pr-0 mt-3 footer-credits">
          <li class="">Site Design by Ian Crowther</li>
          <li class="">Bird illustrations by <a href="http://sinusproblem.tumblr.com/">Patrick Keck</a></li>
        </ul>

    </div>
  </div>