<div class="sidebarblock shaded blog">
<div class="content">
<div class="title">Publishing Insights from Our Team</div>
<div class="posts">
<div class="paragraph post">
<p><a href="https://medium.com/hederis-app/automated-publishing-workflows-explained-58c5da5fb3fe" target="_blank">Automated Publishing Workflows, Explained</a></p>
</div>
<div class="paragraph post">
<p><a href="https://medium.com/hederis-app/simplicity-clarity-empathy-a-q-a-about-documentation-with-hederiss-nellie-mckesson-and-erica-56a62564c43f" target="_blank">Simplicity, Clarity, Empathy: A Q&A About Documentation</a></p>
</div>
<div class="paragraph post">
<p><a href="https://medium.com/hederis-app/hederis-design-spotlight-erewhon-books-29cdcdc80cca" target="_blank">Hederis App Spotlight: Erewhon Books</a></p>
</div>
</div>
<div class="paragraph">
<p><a href="https://medium.com/hederis-app/archive" target="_blank">Read more on Medium &rarr;</a></p>
</div>
</div>
</div>