<div class="header">
	<div class="brand">
		<h1>Hederis</h1>
		<p><a href="/"><img src="/images/Hederiswordmark_purple@2x.png" /></a></p>
	</div>

	<div class="navitems desktop">
	<nav>
		<ul>
			<li><a href="/solutions">Custom Solutions</a></li>
			<li><a href="/app/">Products &amp; Apps</a></li>
			<li><a href="/about">Team &amp; Company</a></li>
		</ul>
	</nav>
	<div class="sidebarblock button">
		<div class="content">
		<div class="paragraph">
		<p><a href="mailto:info@hederis.com">Contact Us</a></p>
		</div>
		</div>
	</div>
	</div>

	<div class="navitems mobile">
	<div class="hamburger">
		<span></span>
		<span></span>
		<span></span>
	</div>
	<nav class="hidden">
		<ul>
			<li><a href="/solutions">Custom Solutions</a></li>
			<li><a href="/app">Products &amp; Apps</a></li>
			<li><a href="/about">Team &amp; Company</a></li>
			<li><a href="mailto:info@hederis.com">Contact Us</a></li>
		</ul>
	</nav>
	</div>
</div>