#book_wrapper {
	height:80vh;
	display:flex;
	align-items:center;
}

.book {
	position:relative;
	width:195px;
	height:266px;

	background-image:url('../images/book_without_cover.svg');
	background-size:contain;
	background-repeat:no-repeat;
	background-position:left bottom;
}

.book_cover {
	position:absolute;
	top:0px;
	left:0px;
	width:182px;
	height:256px;

	background-image:url('../images/book_cover.svg');
	background-size:contain;
	background-repeat:no-repeat;
	background-position:left bottom;

	transform-origin: 0% 200%;
	transform: perspective(1600px) rotateY(0deg);
}

.book.withHover .book_cover {
	transition:transform 0.2s ease-in-out;
}

.book.withHover:hover .book_cover {
	transform:perspective(1600px) rotateY(-50deg);
}

/*$cover.css('transform', `perspective(1600px) rotateY(${c}deg)`);*/

@media only screen and (max-width:767px) {

	#book_wrapper {
		height:auto;
	}

	.book {
		width :calc(195px * .65);
		height:calc(266px * .65);
		margin-bottom:2rem;
	}

	.book_cover {
		width :calc(182px * .65);
		height:calc(256px * .65);
	}

}