p.case-study span {
  font-size: 1.5em;
  background-color: #21172E;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  padding: 3px 6px 3px;
  border-radius: 3px;
}

/*p.case-study.highlight span {
  color: #00ff00;
}*/

#services {
  padding-top: 0;
  padding-bottom: 0em;
}

#services h2, 
#services h3, 
#services p, 
#services li, 
#services a, 
#services a.collapsible-section {
  color: #000;
  font-weight: normal;
}

.panel-dark#services h2,
#services .dark h2 {
  color: #00ff00;
}

.winning, #services h3.winning {
  background-color: #21172E;
/*  color: #00ff00;*/
  color: #fff;
  padding: 3px 6px 3px;
  margin: 20px 0 20px;
  border-radius: 3px;
}

#pricing {
  padding-bottom: 1em;
}

div.two-col-text-block div.row {
  margin-bottom: 0px;
}

a.collapsible-section {
  color: #21172E;
}

a.collapsible-section::before {
  content:"\25BA ";
  font-size: 0.75em;
  color: #00ff00;
  margin-right: 10px;
}

a.collapsible-section[aria-expanded=true]::before {
  content:"\25BC ";
}

#other-options {
  margin-top: 1em;
  padding-top: 3em;
}

#other-options h2, 
#other-options h3, 
#other-options p, 
#other-options li, 
#other-options a, 
#other-options a.collapsible-section {
  color: #CECAD1;
}

#other-options p, 
#other-options li {
  font-size: 1.25em;
}

#other-options h3 {
  font-size: 2rem;
}

.cta {
  width: 100%;
  text-align: center;
  font-style: italic;
}

.cta form,
.modal h5,
.modal p {
  text-align: left;
  font-style: normal;
}

#services .modal p {
  font-size: 0.5em;
  display: inline;
}

a.button.small {
  font-size: 1em;
  font-style: normal;
}

p.pullquote,
#pricing p.pullquote {
  font-size: 2em;
  text-align: center;
  color: #CECAD1;
  margin-left: 50px;
  margin-right: 50px;
}

p.extract,
#pricing p.extract {
}

p.description,
#pricing p.description {
  font-style: italic;
}