div.footer {
  background-color: #21172E;
  color: #CECAD1;
  font-size: 1em;
/*  padding-left: 53px;
  padding-right: 53px;*/
  position: absolute;
  bottom: -40px;
  width: 100%;
  height: 30px;
  white-space: nowrap;
  overflow: visible;
}

div.footer li {
  margin-right: 31px;
}

div.footer-right {
  text-align: right;
  right: 0;
}

#footer-full {
  padding: 10px 53px 0px 53px;
  min-height:0;
}

#footer-full .footer-info a {
  color: #CECAD1;
  text-decoration: underline;
  text-decoration-color: #00ff00;
  font-style: italic;
}

#footer-full li {
  display: inline;
}

#footer-full .footer-info li + li {
  margin-left: 2em;
}

#footer-full .footer-credits li:first-of-type::after {
  content: " | ";
}

#footer-full .float-right li {
  color: #797381;
}

@media all and (max-width: 767px) {

  #footer-full {
    padding: 0;
  }

  #footer-full li {
    display: block;
  }

  #footer-full .footer-info li + li {
    margin-left: 0;
  }

  .footer-info {
    text-align: left;
    margin-bottom: 0;
  }

  .footer-credits {
    text-align: right;
    padding-left: 0;
  }

  #footer-full .footer-credits li:first-of-type::after {
  content: normal;
}

}