a.nav-link {
  font-weight: 400;
}

#home a.nav-link, #home_mask a.nav-link, #learnmore a.nav-link  {
  color: #CECAD1;
}

#whyswitch a.nav-link, .whyswitch a.nav-link, #pricing a.nav-link {
  color: #21172E;
}

#pricing li.nav-item {
    font-size: 1.5em;
}

#home a.nav-link:hover, 
#home_mask a.nav-link:hover, 
#learnmore a.nav-link:hover, 
#whyswitch a.nav-link:hover, 
.whyswitch a.nav-link:hover,
#pricing a.nav-link:hover {
  font-weight: 300;
  color: #00FF00;
}

div.nav {
  top:40px;
  left:53px;
  display:flex;
  flex-direction:column;
  padding:0px 15px;
}

div.nav.primary {
	position:absolute;
}

div.nav.secondary {
  position: fixed;
}

div.nav.relative {
  position: relative;
}

div.nav.blue h1 a {
  background-image: url("../images/Hederiswordmark_green@2x.png");
  background-size: auto 45px;
  background-repeat: no-repeat;
  height: 45px;
  width: 154px;
  display: inline-block;
}

div.nav.blue h1 a:hover {
  background-image: url("../images/green_logo_animation@4x.gif");
}

div.nav.white h1 a {
  background-image: url("../images/Hederiswordmark_purple@2x.png");
  background-size: auto 45px;
  background-repeat: no-repeat;
  height: 45px;
  width: 154px;
  display: inline-block;
}

div.nav.white h1 a:hover {
  background-image: url("../images/purple_logo_animation@4x.gif");
}

nav.navbar {
  padding: 0;
}

.navbar-toggler {display:none;}

li.nav-item {
  font-family: "Robinson Web";
  font-weight: 400;
  font-size: 1.5em;
}

a.nav-link.highlight,
#home a.nav-link.highlight {
  color: #00FF00;
}

.app-gateway p {
  width: 100px;
  text-align: center;
}

.app-gateway a.button {
  font-size: 18px;
  color: #21172E;
  width: 100px;
}

.app-gateway a#signin-top,
.app-gateway a#signin {
  color: #21172E;
  font-size: 15px;
}

.app-gateway a#signin-top,
.app-gateway a#signin {
  color: #21172E;
}

#home .app-gateway a#signin-top,
#learnmore_container .app-gateway a#signin {
  color: #00ff00;
}

.mobile_nav_btn { display:none; }

@media all and (max-width: 767px) {

  .app-gateway {
    display: none;
  }

  #whyswitch div.nav {

  }

  #pricing_nav {
    z-index: 10;
  }

  #learnmore_nav {
    z-index: 10;
  }

  #pricing_nav h1 {
    background-color: white;
  }

  div.nav,
  div.nav.primary,
  div.nav.secondary,
  div.nav.relative {
    position:fixed;
    left:0; top:0;
    width:100%;
    box-sizing:border-box;
    padding:0;
  }

  div.nav.nav-pills {
    position: relative;
  }

  div.nav h1 {
    position:relative;
    z-index:100;
    box-sizing:border-box;
    width:100%;
    padding:10px 15px;
    background-color:#21172E;
    margin:0;
  }

  div.nav h1 img {
    height: 30px;
  }

  div.nav.white h1 {
    background-color:white;
  }

  div.nav nav.navbar,
  div.nav.primary nav.navbar,
  div.nav.secondary nav.navbar {
    will-change:transform;
    transform:translateY(-55vh);
    transition: transform 0.2s ease-in-out;
    padding:10px 15px;
    background-color:#21172E;
  }

  div.nav.white nav.navbar {
    background-color:white;
  }

  div.nav.active nav.navbar,
  div.nav.primary.active nav.navbar,
  div.nav.secondary.active nav.navbar {
    transform:translateY(0);
  }

  button.navbar-toggler {
    display:block;
    background-image: url("images/menu-icon.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
  }
  
  #pricing ul.navbar-nav {
    margin-left: 0;
  }

  .navbar-toggler-icon {
    background-image: url("/images/menu-icon.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
  }


  .mobile_nav_btn {
      display:block;
      position:absolute;
      z-index:99999;
      top:4px;
      right:-15px;
      width:30px;
      height:30px;
      text-indent:-1000px;
      overflow:hidden;
      padding-top:15px;
      padding-left:70px;
      padding-bottom:20px;
      pointer-events:none;
  }

    .mobile_nav_btn span {
        display:block;
        position:absolute;
        right:30px;
        width:20px;
        height:1px;
        -webkit-transition:border 0.25s linear;
        border-bottom:2px solid #07ff00;
    }

    div.nav.white .mobile_nav_btn span {
      border-color:#21172E;
    }
}

.mobile_nav_btn #stripe_1 {
    top:18px;
    -webkit-transform-origin: left center;
            transform-origin: left center;
    -webkit-transform:rotateZ(0deg);
            transform:rotateZ(0deg);
    -webkit-transition:-webkit-transform 0.3s ease-out;
            transition:transform 0.3s ease-out;
}
.mobile_nav_btn #stripe_2 {
    top:25px;
    -webkit-transition:opacity 0.3s ease-out;
            transition:opacity 0.3s ease-out;
}
.mobile_nav_btn #stripe_3 {
    top:32px;
    -webkit-transform-origin: left center;
            transform-origin: left center;
    -webkit-transform:rotateZ(0deg);
            transform:rotateZ(0deg);
    -webkit-transition:-webkit-transform 0.3s ease-out;
            transition:transform 0.3s ease-out;
}
.mobile_nav_btn.active #stripe_1 {
    -webkit-transform:rotateZ(45deg);
            transform:rotateZ(45deg);
}
.mobile_nav_btn.active #stripe_2 {
    opacity:0;
}
.mobile_nav_btn.active #stripe_3 {
    -webkit-transform:rotateZ(-45deg);
            transform:rotateZ(-45deg);
}