h1 {
  margin-top: 0.5rem;
}

h1 img {
  height: 45px;
}

h1.imageholder {
  background-image: url("../images/Hederiswordmark_purple@2x.png");
  background-size: auto 45px;
  background-repeat: no-repeat;
  height: 45px;
  width: 154px;
}

h2 {
  font-weight: 600;
}

h3 {
  font-family: "Robinson Web";
  font-weight: 300;
  font-size: 2em;
  margin-bottom: 1em;
}

span.inline-head {
  font-weight: bold;
}

p.smaller, #pricing p.smaller {
  font-size: 0.8em;
}

#home_content {
  position: absolute;
  overflow-y: scroll;
  top: 40px;
  right: 53px;
  width: 40vw;
  height: 90vh;
}

div.pageframe p.navlink {
  font-size: 1em;
  text-align: center;
  margin-top: 40px;
  color: #797381;
}

div.pageframe  p.navlink a {
  color: #797381;
  text-decoration: none;
  text-decoration-color: #797381;
}

span.highlight {
  color: #00FF00;
}

span.bg-highlight {
  background-color: #00FF00;
}

span.underline {
  border-bottom: 2px solid #00ff00;
}

a.button {
  font-family: "Robinson Web";
  font-size: 1.75em;
  line-height: 1.4em;
  color: #21172E;
  background-color: #00FF00;
  padding: 13px 20px;
  width: auto;
  display: inline-block;
}

a.button.small {
  font-size: 1em;
}

.panel-dark {
  background-color: #21172E;
  color: #CECAD1;
}

.panel-med {
  background-color: #CECAD1;
  color: #21172E;
}

div.pageframe {
  position: relative;
  background-color: #fff;
  color: #21172E;
  padding: 5% 15% 10% 15%;
}

#aboutus {
  padding-bottom: 10px;
}

div.pageframe p.imageholder {
  width: 100%;
  text-align: center;
  /*border: 1px solid black;*/
  padding: 10px;
}

div.pageframe img {
  max-width: 100%;
  border-radius: 5px;
}

#learnmore div.pageframe {
  padding: 15% 15% 3rem 15%;
}

#learnmore div#bookcloser.pageframe {
  padding-top: 10%;
}

div.bookframe {
  border: 1px solid #585162;
}

div.pageframe h3 {
}

div.pageframe p {
  font-size: 1.5em;
}

div.pageframe a, #enterprise a {
  color: #21172E;
  text-decoration: underline;
  text-decoration-color: #00ff00;
}

div.pageframe:first-of-type {
  background-color: #21172E;
  color: #CECAD1;
}

div.two-col-text-block div.row {
  margin-bottom: 47px;
}

div.two-col-text-block div.col-md-6 {
  padding-left: 25px;
  padding-right: 25px;
}

#home, #home_mask, #pricing, #learnmore, #whyswitch, .whyswitch, #services {
  padding: 40px 53px 40px 53px;
}

#home, #home_mask, #learnmore, #flowchart {
}

#home .navarrow {
  position: absolute;
  bottom: 0;
  left: 48%;
}

#home .navarrow img {
  height: 100px;
}

#home .navarrow p {
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
}

#learnmore_container {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

#learnmore {
  padding-bottom: 0;
	min-height:650px;
  height: auto;
}

#learnmore #bookcloser {
  border: 1px solid #585162;
  border-radius: 0px 4px 4px 0px;
  height: auto;
}

@media only screen and (min-height:651px) {
/*	#learnmore {
		min-height:100vh;
	}*/
}

#bookcloser h2 {
  font-weight: 400;
  font-size: 2em;
  line-height: 1.5em;
  margin-bottom: 1em;
}

/*#aboutus {
  text-align: center;
}

#aboutus h3 {
  margin-top: 0.5em;
  margin-bottom: 2em;
}

#aboutus img {
  height: 128px;
}*/

#team img {
  height: 128px;
}

#whyswitch, .whyswitch {
  color: #21172E;
  background-color: #fff;
}

#whyswitch h2,
.whyswitch h2 {
  font-size: 2.2em;
}

#whyswitch h3, 
#flowchart h3,
.whyswitch h3 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

#whyswitch p, 
.whyswitch p, 
#flowchart p {
  font-size: 1.25em;
}

#whyswitch p.imageholder,
.whyswitch p.imageholder {
  width: 100%;
  text-align: center;
  padding: 10px;
}

#whyswitch p.imageholder img,
.whyswitch p.imageholder img {
  width: 100%;
  max-width: 250px;
}

.row.icons p {
  text-align: center;
}

div.icon-holder {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: #21172E;
  text-align: center;
  vertical-align: center;
  margin-left: auto;
  margin-right: auto;
}

.whyswitch img.icon,
.whyswitch div.icon-holder svg {
  height: 30px;
  margin-top: 10px;
}

.whyswitch div.icon-holder.smaller svg {
  height: 20px;
  margin-top: 15px;
}

.whyswitch div.icon-holder svg path {
  fill: #00ff00;
}

.workflow p {
  max-width: 300px;
}

ul.benefits {
  list-style-position: outside;
  padding-left: 0px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

li.benefits {
  font-size: 1.25em;
  list-style-type: none;
  vertical-align: middle;
  margin-bottom: 10px;
}

li.benefits svg {
  height: 25px;
  fill: #21172E;
}

div.step-image-holder {
  height: 160px;
/*  background-image: url("../images/green-dot.png");
  background-size: auto 100%;
  background-repeat: no-repeat;*/
}

img.stepbg {
  max-width: 100%;
  height: 150px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

#how-it-works img.step {
  height: 150px;
}
#how-it-works img.arrow {
  width: 25%;
}

.workflow p {
  font-size: 1.1em;
}

.librarybook {
  height: 250px;
}
/*.bookborder {
  border-top: 1px solid #21172E;
  border-bottom: 1px solid #21172E;
  border-radius: 0px 4px 4px 0px;
}*/

.closer .imageholder {
  text-align: center;
}

.whyswitch hr.divider {
  max-width: 600px;
  border-top: 1px solid #21172E;
  margin-left: auto;
  margin-right: auto;
}

#learnmore_questions {
  background-color: transparent;
	display:flex;
	flex-direction:column-reverse;
}

#learnmore_book #bookcloser {
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

#learnmore h2 {
  font-weight: 400;
  font-size: 1.9em;
  margin-bottom: 2em;
  margin-top: 2em;
}

#learnmore a.button {
  color: #21172E;
}

#learnmore div.container.bookframe {
  padding: 0;
}

#learnmore a.button {
  text-decoration: none;
}

#learnmore_questions div.pageframe {
  height: auto;
  padding-top: 41vh;
}

#pricing h2 {
  font-family: "Spinoza";
  font-weight: 400;
  font-size: 3em;
  margin-bottom: 1em;
}

#pricing h3 {
  margin-bottom: 0.5em;
}

#pricing p, #pricing li, #services p, #services li {
  font-size: 1.25em;
}

#pricing li, #services li {
  color: #00FF00;
}

#pricing li span {
  color: #21172E;
}

#services li span {
  color: #CECAD1;
}

#pricing .splash {
  text-align: center;
}

#pricing #options img {
  width: 50%;
}

#pricing .packagebox {
  border: 1px solid #CECAD1;
  border-radius: 3px;
  padding: 28px 40px 0px 40px;
}

#pricing .packagebox.shaded {
  background-color: #F5F5F5;
  padding-bottom: 28px;
}

#pricing .packagebox .info {
  color: #00FF00;
  font-family: "Robinson Web";
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 0.5em;
}

#pricing .packagebox a.button {
  border: 1px solid #21172E;
  font-family: "Robinson Web";
  font-size: 1.1em;
  line-height: 1.4em;
  color: #21172E;
  background-color: #ffffff;
  padding: 13px 20px;
  margin-top: 1em;
  margin-bottom: 1em;
  width: auto;
  display: inline-block;
}

#pricing .packagebox img {
  width: 30%;
}

#pricing .packagebox .imgholder {
  width: 100%;
  height: 16em;
  margin-bottom: 2em;
}

#pricing #six .imgholder {
  height: 12em;
  width: 100%;
  margin-bottom: 6em;
}

#pricing #six .imgholder img {
  max-height: 100%;
  max-width: 72%;
  width: auto;
  margin-bottom: 0;
}

#pricing #twelve img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  margin-bottom: 0;
}

#pricing #twentyfour img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  margin-bottom: 0;
}

#services {
  padding-top: 6em;
  padding-bottom: 6em;
}

#services h2 {
  font-family: "Robinson Web";
  font-weight: 300;
  margin-bottom: 0.75em;
}

/* Newsletter signup */
#mc_embed_signup form {
  padding-left: 0;
}

#mc_embed_signup label {
  font-weight: normal;
  font-size: 14px;
  padding-bottom: 0px;
}

#mc_embed_signup input.email {
  width: 90%;
  font-family: inherit;
}

#mc_embed_signup {
  border-top: 1px solid #585162 !important;
}

#team #mc_embed_signup {
  border-top: 0px solid #585162 !important;
}

/* TESTIMONIALS */

.testimonial img {
  max-width: 100%;
}

.testimonial .bubble {
  border: 3px solid #00ff00;
  border-radius: 20px;
  padding: 15px;
}

.testimonial p {
  margin-bottom: 0;
  font-size: 1.3em;
}

.testimonial .attribution {
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
}

.pointer {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-bottom-left-radius: 10px;
  border-left: 3px solid #00ff00;
  border-bottom: 3px solid #00ff00;
  margin-right: 5px;
}

.big {
  font-size: 1.5rem;
  line-height: 1rem;
}

.green {
  color: #00ff00;
}

.right {
  text-align: right;
}

@media all and (max-width: 1024px) {
  .workflow > div {
    text-align: center;
  }
  .workflow p,
  .workflow div.step-image-holder,
  .workflow h3,
  .library-image-holder {
    margin-left: auto;
    margin-right: auto;
  }

  .library-image-holder {
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .librarybook {
    height: auto;
    width: 100%;
  }
}



@media all and (max-width: 767px) {


  .no_mobile {
    display:none !important;
  }

	body {
	  box-sizing: border-box;
	  font-family: "Spinoza";
	}

  #home, #home_mask, #pricing, #learnmore, #whyswitch, .whyswitch, #services {
		padding: 30px 0;
	}

  #home .navarrow {
    display: none;
  }

  div.pageframe {
    position: relative;
    background-color: #fff;
    color: #21172E;
    padding: 5% 10%;
  }

  div.pageframe p.navlink {
    display: none;
  }

  div.two-col-text-block div.row {
    margin-bottom: 0px;
  }

  div.two-col-text-block div.col-md-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  #whyswitch h3, .whyswitch h3 {
    margin-bottom: 0.5em;
  }

  #learnmore #bookcloser {
    height: auto;
  }

  #learnmore h2 {
    font-size: 1.6em;
    margin-bottom: 1rem;
    margin-top: 1em;
  }

  #learnmore div.pageframe {
    padding: 4rem 2rem 2rem;
  }

  #learnmore .pageframe h2 {
    margin-bottom: 1.5rem;
  }

  a.button {
    font-size: 1.5em;
  }

  a.button.small {
    font-size: 1em;
  }

  #mc_embed_signup {
    display: none;
  }

  #team #mc_embed_signup {
    display: initial;
  }

}