h1 {
  margin-top: 0.5rem;
}

h1 img {
  height: 45px;
}

h1.imageholder {
  background-image: url("../images/Hederiswordmark_purple@2x.png");
  background-size: auto 45px;
  background-repeat: no-repeat;
  height: 45px;
  width: 154px;
}

h2 {
  font-weight: 600;
}

h3 {
  font-family: "Robinson Web";
  font-weight: 300;
  font-size: 2em;
  margin-bottom: 1em;
}

span.highlight {
  color: #00FF00;
}

a.button {
  font-family: "Robinson Web";
  font-size: 1.75em;
  line-height: 1.4em;
  color: #21172E;
  background-color: #00FF00;
  padding: 13px 20px;
  width: auto;
  display: inline-block;
}

.panel-dark {
  background-color: #21172E;
  color: #CECAD1;
}

div.pageframe {
  position: relative;
  background-color: #fff;
  color: #21172E;
  padding: 5% 15% 10% 15%;
}

div.pageframe p.imageholder {
  width: 100%;
  text-align: center;
  /*border: 1px solid black;*/
  padding: 10px;
}

div.pageframe img {
  max-width: 100%;
  border-radius: 5px;
}

#learnmore div.pageframe {
  padding: 15% 15% 3rem 15%;
}

div.bookframe {
  border: 1px solid #585162;
}

div.pageframe h3 {
}

div.pageframe p {
  font-size: 1.5em;
}

div.pageframe a, #enterprise a {
  color: #21172E;
  text-decoration: underline;
  text-decoration-color: #00ff00;
}

div.pageframe:first-of-type {
  background-color: #21172E;
  color: #CECAD1;
}

div.two-col-text-block div.row {
  margin-bottom: 47px;
}

div.two-col-text-block div.col-md-6 {
  padding-left: 25px;
  padding-right: 25px;
}

#whyswitch div.footer {
  background-color: #fff;
  color: #21172E;
}

.footer-info {
  float: left;
}

.footer-credits {
  float: right;
  color: #797381;
}

#home, #pricing, #learnmore, #whyswitch, #services {
  padding: 40px 53px 40px 53px;
}

#home, #learnmore, #flowchart {
}

#learnmore_container {
  z-index: 100;
}

#learnmore {
  padding-bottom: 0;
	min-height:650px;
}

#learnmore #bookcloser {
  border: 1px solid #585162;
  border-radius: 0px 4px 4px 0px;
  height:90vh;
}

@media only screen and (min-height:651px) {
/*	#learnmore {
		min-height:100vh;
	}*/
}

#bookcloser h2 {
  font-weight: 400;
  font-size: 2em;
  line-height: 1.5em;
  margin-bottom: 1em;
}

/*#aboutus {
  text-align: center;
}

#aboutus h3 {
  margin-top: 0.5em;
  margin-bottom: 2em;
}

#aboutus img {
  height: 128px;
}*/

#whyswitch {
  color: #21172E;
  background-color: #fff;
}

#whyswitch h2 {
  font-size: 2.2em;
}

#whyswitch h3 #flowchart h3 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

#whyswitch p, #flowchart p {
  font-size: 1.25em;
}

#learnmore_questions {
  background-color: transparent;
	display:flex;
	flex-direction:column-reverse;
}

#learnmore_book #bookcloser {
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

#learnmore h2 {
  font-weight: 400;
  font-size: 1.9em;
  margin-bottom: 2em;
}

#learnmore a.button {
  color: #21172E;
}

#learnmore div.container.bookframe {
  padding: 0;
}

#learnmore a.button {
  text-decoration: none;
}

#learnmore_questions div.pageframe {
  height: 100%;
  padding-top: 41vh;
}

#pricing h2 {
  font-family: "Spinoza";
  font-weight: 400;
  font-size: 3em;
  margin-bottom: 1em;
}

#pricing h3 {
  margin-bottom: 0.5em;
}

#pricing p, #pricing li, #services p, #services li {
  font-size: 1.25em;
}

#pricing li, #services li {
  color: #00FF00;
}

#pricing li span {
  color: #21172E;
}

#services li span {
  color: #CECAD1;
}

#pricing .splash {
  text-align: center;
}

#pricing #options img {
  width: 50%;
}

#pricing .packagebox {
  border: 1px solid #CECAD1;
  border-radius: 3px;
  padding: 28px 40px 0px 40px;
}

#pricing .packagebox.shaded {
  background-color: #F5F5F5;
  padding-bottom: 28px;
}

#pricing .packagebox .info {
  color: #00FF00;
  font-family: "Robinson Web";
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 0.5em;
}

#pricing .packagebox a.button {
  border: 1px solid #21172E;
  font-family: "Robinson Web";
  font-size: 1.1em;
  line-height: 1.4em;
  color: #21172E;
  background-color: #ffffff;
  padding: 13px 20px;
  margin-top: 1em;
  margin-bottom: 1em;
  width: auto;
  display: inline-block;
}

#pricing .packagebox img {
  width: 30%;
}

#pricing .packagebox .imgholder {
  width: 100%;
  height: 16em;
  margin-bottom: 2em;
}

#pricing #six .imgholder {
  height: 12em;
  width: 100%;
  margin-bottom: 6em;
}

#pricing #six .imgholder img {
  max-height: 100%;
  max-width: 72%;
  width: auto;
  margin-bottom: 0;
}

#pricing #twelve img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  margin-bottom: 0;
}

#pricing #twentyfour img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  margin-bottom: 0;
}

#services {
  padding-top: 6em;
  padding-bottom: 6em;
}

#services h2 {
  font-family: "Robinson Web";
  font-weight: 300;
  margin-bottom: 0.75em;
}



@media all and (max-width: 767px) {


  .no_mobile {
    display:none !important;
  }

	body {
	  box-sizing: border-box;
	  font-family: "Spinoza";
	}

	#home, #pricing, #learnmore, #whyswitch, #services {
		padding:0;
	}

  div.pageframe {
    position: relative;
    background-color: #fff;
    color: #21172E;
    padding: 15% 10%;
  }

  div.two-col-text-block div.row {
    margin-bottom: 0px;
  }

  div.two-col-text-block div.col-md-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  #whyswitch h3 {
    margin-bottom: 0.5em;
  }

  #learnmore #bookcloser {
    height: auto;
  }

  #learnmore h2 {
    font-size: 1.6em;
    margin-bottom: 1rem;
  }

  #learnmore div.pageframe {
    padding: 4rem 2rem 2rem;
  }

  #learnmore .pageframe h2 {
    margin-bottom: 1.5rem;
  }

  a.button {
    font-size: 1.5em;
  }

}